*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  position: relative;
  max-width: 500px;
  width: 500px;
  height: 100vh;
  overflow: hidden;
  background-color: #fbfdfe;
  font-size: 1.8rem;
  font-weight: 600;
  transition: background-color 0.6s ease-in;
  padding: 10px;
  transform-origin: 90% 5%;
  border: 0.5px solid #ccc;
}
.game-container .control-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.game-container .control-section .control-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-container .control-section .control-item:nth-child(1) {
  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #eef2f7;
  color: #A5BDC5;
  cursor: pointer;
  border: 1px soild #A5BDC5;
  transition: background-color 0.6s ease-in;
}
.game-container .control-section .control-item:nth-child(1):hover {
  opacity: 0.8;
}
.game-container .control-section .control-item:nth-child(2) {
  justify-self: center;
  color: #A5BDC5;
  padding: 5px 50px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #eef2f7;
  height: fit-content;
  transition: background-color 0.6s ease-in;
}
.game-container .control-section .control-item:nth-child(2) i {
  margin-right: 7px;
  transform: translateY(2px);
  font-size: 3rem;
}
.game-container .control-section .control-item:nth-child(2).p1 {
  border: 2px solid #31c4bd;
  color: #31c4bd;
}
.game-container .control-section .control-item:nth-child(2).p2 {
  border: 2px solid #f3b23b;
  color: #f3b23b;
}
.game-container .control-section .control-item:nth-child(3) {
  display: flex;
  gap: 10px;
  height: fit-content;
  margin: auto 0;
}
.game-container .control-section .control-item:nth-child(3) span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef2f7;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  transition: background-color 0.6s ease-in;
}
.game-container .control-section .control-item:nth-child(3) span:hover {
  opacity: 0.8;
}
.game-container .control-section .control-item:nth-child(3) span i {
  color: #A5BDC5;
  font-size: 2.6rem;
}
.game-container .control-section .control-item:nth-child(3) span i:nth-child(2) {
  display: none;
}
.game-container .game-section {
  margin: 50px;
}
.game-container .game-section .board {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 20px;
}
.game-container .game-section .board .board-item {
  background-color: #fff;
  border-radius: 15px;
  background-color: #eef2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 80px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.6s ease-in;
}
.game-container .game-section .board .board-item.p1 {
  color: #31c4bd;
  box-shadow: inset 0 0 5px 5px rgba(49, 196, 189, 0.5215686275);
}
.game-container .game-section .board .board-item.p2 {
  color: #f3b23b;
  box-shadow: inset 0 0 5px 5px rgba(243, 179, 59, 0.5215686275);
}
.game-container .game-section .board .board-item.p1.win-move {
  background-color: rgba(49, 196, 189, 0.5215686275) !important;
}
.game-container .game-section .board .board-item.p2.win-move {
  background-color: rgba(243, 179, 59, 0.5215686275) !important;
}
.game-container .result-secton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px;
}
.game-container .result-secton .result-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 25%;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 0;
}
.game-container .result-secton .result-item:nth-child(1) {
  background-color: #31c4bd;
  box-shadow: 0 5px 0 0 rgba(49, 196, 189, 0.5215686275);
}
.game-container .result-secton .result-item:nth-child(2) {
  background-color: #a9bec9;
  box-shadow: 0 5px 0 0 rgba(169, 190, 201, 0.5215686275);
}
.game-container .result-secton .result-item:nth-child(3) {
  background-color: #f3b23b;
  box-shadow: 0 5px 0 0 rgba(243, 179, 59, 0.5215686275);
}
.game-container .result-secton .result-item .player-count {
  font-size: 25px;
  font-weight: 700;
}
.game-container .result-secton .result-item .player-name i {
  font-size: 2.5rem;
}
.game-container .banner {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(204, 204, 204, 0.493);
  align-items: center;
  justify-content: center;
}
.game-container .banner .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #fbfdfe;
  padding: 50px 0;
  animation: showBanner 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.game-container .banner .content .win-player {
  color: #A5BDC5;
  font-size: 1.7rem;
  font-weight: 500;
}
.game-container .banner .content .win-notice {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.game-container .banner .content .win-notice i {
  font-size: 6rem;
  font-weight: 900;
}
.game-container .banner .content .win-notice span {
  margin: 0 10px;
}
.game-container .banner .content .win-notice.p1 {
  color: #31C4BD;
}
.game-container .banner .content .win-notice.p2 {
  color: #f3b23b;
}
.game-container .banner .content .win-notice.tie {
  color: #A5BDC5;
}
.game-container .banner .content .control-btn button {
  padding: 7px 14px;
  color: #000;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
}
.game-container .banner .content .control-btn button:hover {
  opacity: 0.8;
}
.game-container .banner .content .control-btn button:nth-child(1) {
  background-color: #A5BDC5;
  box-shadow: 0 5px 0 0 rgba(165, 189, 197, 0.5);
}
.game-container .banner .content .control-btn button:nth-child(2) {
  background-color: #f3b23b;
  box-shadow: 0 5px 0 0 rgba(243, 179, 59, 0.7607843137);
}
@keyframes showBanner {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 767.98px) {
  .game-container .control-section .control-item:nth-child(1) div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }
  .game-container .control-section .control-item:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .game-container .game-section {
    margin: 50px 0;
  }
  .game-container .result-secton {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
